/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

body{
  background-image: url("../public/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
